
.listItem {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #90b4ce;
}

.listItem .text {
  margin-left: 30px;
  justify-content: center;
  align-items: center;
}
 
.listItem .text h3 {
  font-size: 20px;
  line-height: 30px;

  color: #094067;
}
.listItem .text p {
  font-size: 16px;
  line-height: 19px;

  color: rgba(9, 64, 103, 0.47);
}