/**todo list**/
.list {
  list-style: none;
}
.listLink {
  text-decoration: none;
  color: #3da9fc;
}

.addBtn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;

  background: #3da9fc;
  box-shadow: 0px 4px 4px rgba(9, 64, 103, 0.47);
  border-radius: 50%;
  border: none;
  color: #fff;
  font-size: 50px;
  font-weight: 200;
}
