/**Global css**/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e7e9f5;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
@media (max-width: 480px) {
  body {
    height: 100vh;
  }
}
